@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%; 
  background-color: #121315;
}

h1,h2{
  font-family: "Bebas Neue";
  font-weight: 500;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0;
}

/* Hide scrollbar for Firefox */
scrollbar-width: none;

/* Hide scrollbar for Internet Explorer and Edge */
-ms-overflow-style: none;

.react-time-picker {
  width: 100%;
  max-width: 200px; /* Adjust the width as needed */
  margin: 0 auto;
}

.react-time-picker__inputGroup {
  display: flex;
  gap: 5px;
}
